/* General Styles */
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0m;
    padding: 2rem;
    background-color: #f4f4f4;
    color: #333;

    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    color: #444;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p  {
    color: #555;
    line-height: 1.6;
    margin-bottom: 1rem;
}

main {
    max-width: 800px;
    flex: 1;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
}

footer {
    background-color: #e9e9e9;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ccc;
}

.bottom-text {
    margin-top: 15rem;
    padding: 1.5rem;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
}